.main-note{
    position: relative;
    background-color: rgb(109 85 71 / 30%);
    min-width: 20rem;
    border-radius: 30%;
    padding: 4rem 2rem;
    height: 100%;
    margin: 1rem;
    overflow: scroll;
}
.note-content{
    color: white;
    margin: 0;
}

.main-note textarea{
    height: 100%;
    width: 100%;
    background-color: #fffdff00;
    
}
.main-note textarea:focus{
    outline: none;
}
.main-note .note-content{
    /* font-weight: bold; */
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;

}
.delete-note__container{
    height: 2rem;
    width: 1.5rem;
    position: absolute;
    right: 8%;
    border-style: outset;

}
.delete-note__container:hover,
.delete-note__container:active{
    font-weight: bold;
    background-color: #f1eeed14;
    cursor: pointer;
}